@charset "utf-8";

* {margin:0; padding:0;}
a {text-decoration:none;}
li {list-style:none;}
html, body {background-color:#fff; text-align:center;}
button[type="*"] {appearance:none; background-color:#fff; }
.btn {width:auto;height:50px; border:0px; font-size:20px;}

body { background-color:#ddd;}

section.buttons {display:flex; align-items:center; justify-content:center; gap:10px; max-width:1200px; background-color:#ddd;}
.child_img {height:100%;}